<main>
	<div class="wrapper">
		<table>
			<% @issues.each do |issue| %>
				<tr>
					<td>
						<%= content_tag :a, href: articles_path(@theme.id, issue.id) do %>
							<%= issue.content %>
							<div class="right">
								<span><%= issue.articles_label %></span>
							</div>
						<% end %>
					</td>
					<td class="actions">
						<%= link_to 'Modifier', edit_issue_path(@theme.id, issue.id) %>
						<%= link_to 'Supprimer', destroy_issue_path(@theme.id, issue.id) %>
					</td>
				</tr>
			<% end %>
		</table>
		<div class="actions">
			<%= link_to 'Ajouter une problématique', new_issue_path(@theme.id) %>
		</div>
	</div>
</main>
