<%= form_for article, url: post_article_path(article) do |f| %>

	<%= f.field :content, input: :text_area, label: 'Contenu' %>

	<%= f.field :issue, input: :text_field, label: 'Problématique' %>
	<%= f.hidden_field :issue_id %>

	<div class="field image">
		<%= f.file_field :image %>
		<% if article.image.exists? %>
			<%= image_tag article.image.url(:cover) %>
		<% end %>
	</div>

	<%= f.field :tag, input: :text_field, label: 'Ajouter un tag' %>
	<div class="tags">
		<% article.tags.each.with_index do |tag, i| %>
			<span><%= tag.name %><%= hidden_field_tag "article[tag_ids][#{i}]", tag.id %></span>
		<% end %>
	</div>

	<div class="actions">
		<% unless article.id.nil? %>
			<%= link_to 'Supprimer', destroy_article_path(article.id), class: :sensible %>
		<% end %>
		<%= f.submit 'Enregistrer' %>
	</div>
<% end %>

<% javascript '/vendor/tinymce/tinymce.min.js' %>
