<main>
	<div class="wrapper">
		<table>
			<% @articles.each do |article| %>
				<tr>
					<td>
						<%= content_tag :a, href: edit_article_path(@theme.id, @issue.id, article.id) do %>
							<%= l(article.created_at, format: :long)  %>
							<p class="extract"><%= strip_tags article.content[0..80] %>...</p>
						<% end %>
					</td>
					<td class="actions">
						<%= link_to 'Supprimer', destroy_article_path(@theme.id, @issue.id, article.id) %>
					</td>
				</tr>
			<% end %>
		</table>
		<div class="actions">
			<%= link_to 'Nouvel article', new_article_path(@theme.id, @issue.id) %>
		</div>
	</div>
</main>
