<main>
	<div class="wrapper">
		<table>
			<% @users.each do |user| %>
				<tr>
					<td>
						<%= content_tag :a, href: edit_user_path(user.id) do %>
							<%= image_tag user.image.url(:thumb) %>
							<%= user.firstname %>
							<% if user.admin? %>
								<span class="admin">Admin</span>
							<% elsif user.erasmus? %>
								<span class="erasmus">Erasmus</span>
							<% end %>
						<% end %>
					</td>
					<td class="actions">
						<%= link_to 'Supprimer', destroy_user_path(user.id) %>
					</td>
				</tr>
			<% end %>
		</table>
		<div class="actions">
			<%= link_to 'Ajouter un utilisateur', new_user_path %>
		</div>
	</div>
</main>
