<% defer_route :theme_page, js_params: :id %>
<% defer_route :issue_page, js_params: :id %>
<% defer_route :tag_page, js_params: :id %>

<main>
	<div class="content">
	    <div class="wrapper">
	        <h3>Sélectionnez un thème</h3>
	        <p>Pour commencer veuillez choisir le thème que vous souhaitez</p>
	        <div class="themes">
				<%= theme_bubbles @themes do |theme| %>
					<%= content_tag :a, class: :theme, href: theme_page_path(theme.id, transition: ''), style: background(:image, theme.image.url(:medium))+style(backgroundColor: theme.color), data: { color: theme.rgb_s } do %>
						<div class="theme-transition" style="background: <%= theme.rgb_s %>"></div>
                        <div class="overlay" style="<%= background :gradient, *theme.gradient %>">
                            <div class="infos">
                                <span class="name"><%= theme.name %></span>
                                <span class="articles"><%= theme.articles_label %></span>
                                <span class="more"></span>
                            </div>
                        </div>
                    <% end %>
				<% end %>
	        </div>
	    </div>
	</div>
</main>
