<div class="sub sub-issue" style="background: <%= @theme.color %>">
	<div class="wrapper">
		<%= link_to '', params.key?(:panel) ? comments_path : theme_page_path(@theme), class: :back %>
		<p><%= @issue.content %></p>
	</div>
</div>
<%= timeline_for @issue %>
<main>
	<%= render_flash %>
	<% if @articles.length == 0 %>
		<div class="wrapper">
			<p class="empty">Il n'y a pas encore d'article dans cette problématique</p>
		</div>
	<% else %>
		<div class="articles">
			<% @articles.each do |article| %>
				<div class="article" data-id="<%= article.id %>">
					<% if article.image.exists? %>
						<div class="image">
							<div class="overlay" style="background: rgba(<%= @theme.rgb(-50).join(',') %>, 0.5)">
								<% unless article.title.blank? %>
									<p><%= article.title %></p>
								<% end %>
							</div>
							<%= image_tag article.image.url(:cover) %>
						</div>
					<% end %>
					<div class="wrapper">
						<div class="infos">
							<div class="author">
								<%= image_tag article.author.image.url(:thumb) %>
								<span><%= article.author.fullname %></span>
							</div>
							<nav class="tags">
								<% article.tags.each do |tag| %>
									<%= content_tag :a, href: tag_page_path(tag), style: style(backgroundColor: @theme.rgb_s) do %>
										<%= tag.name %>
									<% end %>
								<% end %>
							</nav>
						</div>
						<div class="content">
							<%= article.main_content.html_safe %>
						</div>
						<nav class="labels">
							<% article.related.each.with_index do |related, i| %>
								<% if i%2 == 0 %>
									<div class="row">
								<% end %>
								<div class="col">
									<%= link_to related.sure_title, article_path(related) %>
								</div>
								<% if i%2 == 1 || i+1 >= article.related.length %>
									</div>
								<% end %>
							<% end %>
						</nav>
					</div>

					<div class="comments wrapper">
						<% article.approved_comments.each do |comment| %>
							<div class="comment">
								<div class="infos">
									<div class="author">
										<%= image_tag comment.author.image.url(:thumb) %>
										<span><%= comment.author.fullname %></span>
									</div>
									<span class="date">
										<%= comment.created_at.strftime '%d-%m-%Y' %>
									</span>
								</div>
								<p>
									<%= comment.content %>
								</p>
								<% if is_current_user? comment.author, or: :admin %>
									<div class="actions">
										<%= link_to 'Modifier', edit_comment_path(comment) %>
										<%= link_to 'Supprimer', destroy_comment_path(comment), class: :sensible %>
									</div>
								<% end %>
							</div>
						<% end %>
						<% if current_user? is: [:erasmus, :admin] %>
							<%= render 'comments/form', comment: @comment, article: article, action: :new %>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>
</main>
