<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @indefinition.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @indefinition.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @indefinition.author %>
</p>

<%= link_to 'Edit', edit_indefinition_path(@indefinition) %> |
<%= link_to 'Back', indefinitions_path %>
